<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Luke learn tutor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
				<key>dateExpires</key>
				<string>14/06/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBRadioCheckboxButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>5.0.24433.0616</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MobileRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PopOverMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7F745DC53A5CBB32156B7092BECDC1742D94495</string>
						<key>dateExpires</key>
						<string>14/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NQF57VC2KX</string>
						<key>name</key>
						<string>Amit Chawla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30906.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NQF57VC2KX.ChawtechSolutions.LLRTS-Tutor</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.ChawtechSolutions.LLRTS-Tutor</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>NQF57VC2KX</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.ChawtechSolutions.LLRTS-Tutor</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>NQF57VC2KX.ChawtechSolutions.LLRTS-Tutor</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>Luke learn tutor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d4b348cd-7b62-4a97-8eb1-c97f54ee1a58</string>
				<key>dateExpires</key>
				<string>14/06/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ChawtechSolutions.LLRTS-Tutor</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NQF57VC2KX</string>
				<key>name</key>
				<string>Amit Chawla</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
